
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body{
   margin: 0;
   font-size: 14px;
   font-family: 'Athiti';
   line-height: 20px;
   color: #02605f;
   background-color: #ffffff;
   -webkit-font-smoothing: antialiased;
}
button{
    color: white;
    font-style: italic;
    background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
root { 
    display: block;
}
.centered {
	text-align: center;
}

.sansSerif{
    font-family: sans-serif;
}

